{% extends 'petpatas/base.html' %}
{% load static %}
{% block content %}
       
        <main>

            <section class="banner-about-section d-flex justify-content-center align-items-end">
                <div class="section-overlay"></div>

                <div class="container">
                    <div class="row">

                        <div class="col-lg-7 col-12">
                            <h1 class="text-white mb-lg-0">Sobre nós</h1>
                        </div>

                        <div class="col-lg-4 col-12 d-flex justify-content-lg-end align-items-center ms-auto">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>

                                    <li class="breadcrumb-item active" aria-current="page">Sobre nós</li>
                                </ol>
                            </nav>
                        </div>

                    </div>
                </div>
            </section>
         

            <section class="section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-12">
                            <img src="{% static 'images/services/pitbull.jpg' %}" class="featured-image img-fluid">
                        </div>

                        <div class="col-lg-6 col-12">
                            <div class="featured-block">
                                <h2 class="mb-4">Nossa historia começou em 2016</h2>

                                <p>Nossa história começou em 2017 quando no quintal da minha casa surgiu o primeiro Petpatas</a>.</p>

                                <p>Lá foi o inicio desse sonho, conheci pessoas incriveis e pude consolidar que era aquilo que eu queria para minha vida, então ao 
                                 decorrer dos anos fui me aperceiçoando como profissional e me dedicando cada vez mais, com isso vieram muitos sorrisos,
                                 banhos, tosas e clientes satisfeitos.
                                </p>
                                <p>
                                    Com o passar do tempo o petpatas cresceu e fez seu nome, sendo reconhecido e amado por todos que já o visitaram,
                                     oferecendo serviços de alta qualidade e atendimento personalizado para cada animal que chegava ao nosso estabelecimento.
                                </p>
                                <p>Nós continuamos a nos dedicar ao trabalho com paixão e comprometimento, sabendo que cada animal que entra na loja recebe 
                                 os melhores cuidados e atenção e amor que merece.
                                </p>       
                               <!-- <a class="custom-btn btn button button--atlas mt-3" href="contact.html">
                                    <span>Get in touch</span>-->
    
                                    
                                
                            </div>
                        </div>

                    </div>
                </div>
            </section>


            <section class="team-section section-padding section-bg">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12">
                            <h2 class="mb-4">Conheça quem cuida do seu pet</h2>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12 mb-lg-0 mb-md-5">
                            <img src="{% static 'images/teams/antonia.jpg' %}" class="team-image img-fluid">
                        </div>

                        <div class="col-lg-3 col-md-6 col-12 d-flex justify-content-lg-center mt-4 mt-lg-0 mt-md-0 mb-5 mb-lg-0">
                            <div class="team-info mx-auto mx-lg-0">
                                <h4 class="mb-2">Antonia (Dona)</h4>

                                <p>Os clientes se sentem confortaveis em trazer seus pets aqui no petpatas pois sabem
                                     que além de uma tosadora, seus bichinhos estão nas mãos de uma auxiliar de veterinaria
                                      que já trabalhou em um consultoria auxiliando em cirurgias complexas em diversos animais.</p>

                            </div>
                        </div>

                        

                    </div>
                </div>
            </section>
            {% endblock %}
