{% extends 'petpatas/base.html' %}
{% load static %}
{% block content %}
       
        <main>
            <section class="hero-section hero-section-full-height d-flex justify-content-center align-items-center">
                <div class="section-overlay"></div>

                <div class="container">
                    <div class="row">

                        <div class="col-lg-7 col-12 mx-auto">
                            <h1 class="cd-headline rotate-1 text-pink mb-4 pb-2">
                                <span>Seu pet &nbsp &nbsp </span>
                                <span class="cd-words-wrapper">
                                    <b class="is-visible"> Limpo</b>
                                    <b>Feliz</b>
                                    <b>Cheiroso</b>
                                </span>
                            </h1>

                            <a class="custom-btn btn button button--atlas smoothscroll me-3" href="#intro-section">
                                <span>Introdução</span>

                                <div class="marquee" aria-hidden="true">
                                    <div class="marquee__inner">
                                        <span>Introduction</span>
                                        <span>Introduction</span>
                                        <span>Introduction</span>
                                        <span>Introduction</span>
                                    </div>
                                </div>
                            </a>

                            <a class="custom-btn custom-border-btn custom-btn-bg-white btn button button--pan smoothscroll" href="#services-section">
                                <span>Veja nossos serviços</span>
                            </a>
                        </div>

                    </div>
                </div>

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffff" fill-opacity="1" d="M0,224L40,229.3C80,235,160,245,240,250.7C320,256,400,256,480,240C560,224,640,192,720,176C800,160,880,160,960,138.7C1040,117,1120,75,1200,80C1280,85,1360,139,1400,165.3L1440,192L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path></svg>
            </section>


            <section class="intro-section" id="intro-section">
                <div class="container">
                    <div class="row justify-content-lg-center align-items-center">

                        <div class="col-lg-6 col-12">
                            <h2 class="mb-4">Seu companheiro adora brincar na lama? </h2>

                            <p> <!-- <a href="#">Clean Work</a> --> Os animais tendem a adorar brincar brincar no quintal e rolar na lama, isso é um habito comum e relativamente saudavel, porém você não vai querer seu pet transformando sua casa em um lamassal... né ?
                            <p><strong>Relaxa!</strong> nós te ajudamos com isso! Nossa linha de produtos conta com os melhores shampoos e condicionaroes para remover qualquer sujeira, mal cheiro e pulgas do seu amigo de quatro patas!</p>
                        </div>

                        <div class="col-lg-6 col-12 custom-block-wrap">
                            <img src="{% static 'images/dirtydog.png' %}" class="img-fluid">

                            <div class="custom-block d-flex flex-column">
                                <h6 class="text-white mb-3">Nos contate pelo<br> WhatsApp: </h6>

                                <p class="d-flex mb-0">
                                    <i class="text-white bi-whatsapp me-2"></i>                                  
                                    <a href="https://api.whatsapp.com/send/?phone=13991467846&text=Olá+Gostaria+de+saber+sobre+os+preços&type=phone_number&app_absent=0" target="_blank">
                                        (13) 99146-7846
                                    </a>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </section>


            <section class="services-section section-padding section-bg" id="services-section">                
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12">
                            <h2 class="mb-4">Nossos serviços</h2>
                        </div>
                        {% if cards %}
                        {% for servico in cards %}

                        <div class="col-lg-6 col-12">
                            <div class="services-thumb">
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-12">
                                        <div class="services-image-wrap">
                                            <a href="services-detail.html">
                                                <img src="media/{{servico.foto1}}" class="services-image img-fluid" alt="">
                                                <img src="media/{{servico.foto2}}" class="services-image services-image-hover img-fluid" alt="">

                                                <div class="services-icon-wrap">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <p class="text-white mb-0">
                                                            <i class="bi-cash me-2"></i>
                                                            {{ servico.valor }}
                                                        </p>
                                                    </div>                                                    
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-lg-7 col-md-7 col-12 d-flex align-items-center">
                                        <div class="services-info mt-4 mt-lg-0 mt-md-0">
                                            <h4 class="services-title mb-1 mb-lg-2">
                                                <a class="services-title-link" href="services-detail.html">{{servico.nome_servico}}</a>
                                            </h4>

                                            <p>{{servico.descricao}}</p>

                                            <div class="d-flex flex-wrap align-items-center">
                                                <div class="reviews-icons">
                                                    {% if 1 <= servico.avaliacao %}
                                                        <i class="bi-star-fill"></i>
                                                            {% if 2 <= servico.avaliacao %}
                                                                <i class="bi-star-fill"></i>
                                                                    {% if 3 <= servico.avaliacao %}
                                                                        <i class="bi-star-fill"></i>
                                                                        {% if 4 <= servico.avaliacao %}
                                                                            <i class="bi-star-fill"></i>
                                                                                {% if 5 <= servico.avaliacao %}
                                                                                    <i class="bi-star-fill"></i>
                                                                                {% else %}
                                                                                {% endif %}
                                                                        {% else %}
                                                                        {% endif %}
                                                                    {% else %}
                                                                    {% endif %}
                                                            {% else %}                                                                    
                                                            {% endif %}
                                                    {% else %}                                                                    
                                                    {% endif %}
                                                </div>               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %} 
                        {% else %} 
                        {% endif %} 
                    </div>
                </div>
            </section>

            <section class="testimonial-section section-padding section-bg">
                <div class="section-overlay"></div>

                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12 text-center">
                            <h2 class="text-white mb-4">FeedBack de clientes</h2>
                        </div>

                        <div class="col-lg-4 col-12">
                            <div class="featured-block">
                                <div class="d-flex align-items-center mb-3">
                                    <img src="{% static 'images/avatar/happy-customer-01.jpg' %}" class="avatar-image img-fluid">

                                    <div class="ms-3" >
                                        <h4 class="mb-0">Marie</h4>

                                        <div class="reviews-icons mb-1">
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star"></i>
                                        </div>
                                    </div>
                                </div>

                                <p class="mb-0">Best Cleaning Service Provider Ipsum dolor sit consectetur kengan</p>
                            </div>

                            <div class="featured-block mb-lg-0">
                                <div class="d-flex align-items-center mb-3">
                                    <img src="{% static 'images/avatar/happy-customer-02.jpg' %}" class="avatar-image img-fluid">

                                    <div class="ms-3">
                                        <h4 class="mb-0">Nana</h4>

                                        <div class="reviews-icons mb-1">
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star"></i>
                                        </div>
                                    </div>
                                </div>

                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-12">
                            <div class="featured-block">
                                <div class="d-flex align-items-center mb-3">
                                    <img src="{% static 'images/avatar/happy-customer-03.jpg' %}" class="avatar-image img-fluid">

                                    <div class="ms-3">
                                        <h4 class="mb-0">Elon</h4>

                                        <div class="reviews-icons mb-1">
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                        </div>
                                    </div>
                                </div>

                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                            </div>

                            <div class="featured-block mb-lg-0">
                                <div class="d-flex align-items-center mb-3">
                                    <img src="{% static 'images/avatar/happy-customer-04.jpg' %}" class="avatar-image img-fluid">

                                    <div class="ms-3">
                                        <h4 class="mb-0">Josh</h4>

                                        <div class="reviews-icons mb-1">
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star"></i>
                                            <i class="bi-star"></i>
                                        </div>
                                    </div>
                                </div>

                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                            </div>
                        </div>

                        <div class="col-lg-4 col-12">
                            <div class="featured-block">
                                <div class="d-flex align-items-center mb-3">
                                    <img src="{% static 'images/avatar/happy-customer-05.jpg' %}" class="avatar-image img-fluid">

                                    <div class="ms-3">
                                        <h4 class="mb-0">Katie</h4>

                                        <div class="reviews-icons mb-1">
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                        </div>
                                    </div>
                                </div>

                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                            </div>

                            <div class="featured-block mb-lg-0">
                                <div class="d-flex align-items-center mb-3">
                                    <img src="{% static 'images/avatar/happy-customer-06.jpg' %}" class="avatar-image img-fluid">

                                    <div class="ms-3">
                                        <h4 class="mb-0">Shai</h4>

                                        <div class="reviews-icons mb-1">
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star-fill"></i>
                                            <i class="bi-star"></i>
                                            <i class="bi-star"></i>
                                        </div>
                                    </div>
                                </div>

                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                            </div>
                        </div>
                       
                </div>
            </section>

            <section class="partners-section">
                <div class="container">
                    <div class="row justify-content-center align-items-center">
            
                        <div class="col-lg-12 col-12">
                            <h4 class="partners-section-title bg-white shadow-lg">Nós usamos os melhores produtos!</h4>
                        </div>
            
                        <div class="col-lg-2 col-md-4 col-6">
                            <img src="{% static 'images/partners/essenciapet.png' %}" class="partners-image img-fluid">
                        </div>
            
                        <div class="col-lg-2 col-md-4 col-6">
                            <img src="{% static 'images/partners/harlow.jpg' %}" class="partners-image img-fluid">
                        </div>
            
                        <div class="col-lg-2 col-md-4 col-6">
                            <img src="{% static 'images/partners/choyer.jpg' %}" class="partners-image img-fluid">
                        </div>
            
                        <div class="col-lg-2 col-md-4 col-6">
                            <img src="{% static 'images/partners/societyhidra.png' %}" class="partners-image img-fluid">
                        </div>
            
                    </div>
                </div>
            </section>

{% endblock %}
