{% load static %}
<section class="partners-section">
    <div class="container">
        <div class="row justify-content-center align-items-center">

            <div class="col-lg-12 col-12">
                <h4 class="partners-section-title bg-white shadow-lg">Nós usamos os melhores produtos!</h4>
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <img src="{% static 'images/partners/essenciapet.png' %}" class="partners-image img-fluid">
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <img src="{% static 'images/partners/harlow.jpg' %}" class="partners-image img-fluid">
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <img src="{% static 'images/partners/choyer.jpg' %}" class="partners-image img-fluid">
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <img src="{% static 'images/partners/societyhidra.png' %}" class="partners-image img-fluid">
            </div>

        </div>
    </div>
</section>
</main>

<footer class="site-footer">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12 d-flex align-items-center mb-4 pb-2">
                <div>
                    <img src="{% static 'images/logos/logopetpatas.png' %}" class="partners-image img-fluid" alt="">
                </div>

                <ul class="footer-menu d-flex flex-wrap ms-5">
                    <li class="footer-menu-item"><a href="{% url 'index' %}" class="footer-menu-link">Home</a></li>

                    <li class="footer-menu-item"><a href="{% url 'about' %}" class="footer-menu-link">Sobre nós</a></li>

                    <li class="footer-menu-item"><a href="{% url 'service' %}" class="footer-menu-link">Serviços</a></li>

                    <li class="footer-menu-item"><a href="#" class="footer-menu-link">Ecnontre-nos</a></li>
                </ul>
            </div>

            <div class="col-lg-5 col-12 mb-4 mb-lg-0">
                <h5 class=" text-white site-footer-title mb-3">Nossos Serviços</h5>

                <ul class="footer-menu">
                    <li class="footer-menu-item">
                        <a href="#" class="footer-menu-link">
                            <i class="bi-chevron-double-right footer-menu-link-icon me-2"></i>
                            Tosa completa
                        </a>
                    </li>

                    <li class="footer-menu-item">
                        <a href="#" class="footer-menu-link">
                            <i class="bi-chevron-double-right footer-menu-link-icon me-2"></i>
                            Banho
                        </a>
                    </li>

                    <li class="footer-menu-item">
                        <a href="#" class="footer-menu-link">
                            <i class="bi-chevron-double-right footer-menu-link-icon me-2"></i>
                            Tosa higiênica
                        </a>
                    </li>

                    <li class="footer-menu-item">
                        <a href="#" class="footer-menu-link">
                            <i class="bi-chevron-double-right footer-menu-link-icon me-2"></i>
                            Corte de unhas
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0 mb-md-0">
                <h5 class=" text-white site-footer-title mb-3">Office</h5>

                <p class="primary-color d-flex mt-3 mb-2">
                    <i class="bi-geo-alt-fill me-2"></i>
                    Akershusstranda 20, 0150 Oslo, Norway
                </p>

                <p class="primary-color d-flex mb-2">
                    <i class="bi-telephone-fill me-2"></i>

                    <a href="tel: 110-220-9800" class="site-footer-link">
                        (13) 99146-7846
                    </a>
                </p>

                <p class="primary-color d-flex">
                    <i class="bi-envelope-fill me-2"></i>

                    <a href="mailto:info@company.com" class="site-footer-link">
                        petpatas@hotmail.com.br
                    </a>
                </p>

                <ul class="social-icon mt-4">
                    <li class="social-icon-item">
                        <a href="https://www.facebook.com/ppbanhoetosa" target="_blank" class="social-icon-link button button--skoll">
                            <span></span>
                            <span class="bi-facebook"></span>
                        </a>
                    </li>

                    <li class="social-icon-item">
                        <a href="https://www.instagram.com/petpataa/" target="_blank"  class="social-icon-link button button--skoll">
                            <span></span>
                            <span class="bi-instagram"></span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class=" primary-color col-lg-3 col-md-6 col-6 mt-3 mt-lg-0 mt-md-0">
                <div class="featured-block">
                    <h5 class="text-white mb-3">Atendimento</h5>

                    <strong class="d-block primary-color mb-1">Seg - Sex</strong>

                    <p class="primary-color mb-3">9:00 AM - 17:00 PM</p>

                    <strong class="d-block primary-color mb-1">Sab</strong>

                    <p class="primary-color mb-0">9:00 AM - 16:00 PM</p>
                </div>
            </div>
        </div>
    </div>

    <div class="site-footer-bottom">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12">
                    <p class="copyright-text mb-0">Copyright © 2036 PetPatas Ltd.</p>
                </div>
                
                <div class="col-lg-6 col-12 text-end">
                    <p class="copyright-text mb-0">
                   
                </div>
                
            </div>
        </div>
    </div>
</footer>

<!-- JAVASCRIPT FILES -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.backstretch.min.js' %}"></script>
<script src="{% static 'js/counter.js' %}"></script>
<script src="{% static 'js/countdown.js' %}"></script>
<script src="{% static 'js/init.js' %}"></script>
<script src="{% static 'js/modernizr.js' %}"></script>
<script src="{% static 'js/animated-headline.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>